.Projects {
  position: absolute;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  /* overflow: hidden; */
  top: 0;
  left: 0;
}

.view {
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 0;
  overflow: scroll;
  background: linear-gradient(
    to left bottom,
    #8c8989,
    #a7a5a6,
    #c4c2c3,
    #e1e0e1,
    #ffffff
  );
  font-family: sans-serif;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 4rem;
  color: white;
  padding-top: 2rem;
  padding: 1rem;
  top: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: sticky;
  z-index: 2;
}

.styledNav {
  width: 40rem;
  height: 2rem;
  background-color: rgb(255, 255, 255, 0.2 5);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px;
  padding: 0.5rem;
  margin-left: 30%;
}

.navLink {
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
}

.navLink:hover {
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
  cursor: pointer;
  transition: color 1.5s ease-in-out; /* Transitions the 'color' property over 1 second with an ease-in-out timing function */
}
.Resume {
  width: max-content;
  background-color: black;
  text-align: center;
  border-radius: 25px;
  padding: 1rem;
  color: white;
  cursor: pointer;
  font-size: 1.15rem;
  text-decoration: none;
  border: none;
}

.Resume:hover {
  background-color: rgba(7, 129, 254);
  width: max-content;
  text-align: center;
  border-radius: 25px;
  padding: 1rem;
  color: white;
  cursor: pointer;
  font-size: 1.15rem;
  text-decoration: none;
  border: none;
  transition: background-color 1s ease-in-out; /* Transitions the 'color' property over 1 second with an ease-in-out timing function */
}

.Banner {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.proj {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  padding: 1rem;
  padding-top: 3rem;
  margin-bottom: 3rem;
}

.projImages {
  width: 70%;
  height: 30rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 0.5rem;
}

.projMainImg {
  width: 80%;
  border: 1px black solid;
  border-radius: 10px;
}

.projSupportImages {
  width: 40%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  position: relative;
}

.supportImagesContainer {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.projDescription {
  width: 30%;
  height: 30rem;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
  padding: 1rem;
  padding-right: 2rem;

  box-sizing: border-box;
}

.descriptionTitle {
  text-decoration: none;
  color: white;
  /* text-decoration: underline; */
}

.descriptionTitle h2 {
  font-size: 1.75rem;
  font-weight: 600;
}
.descriptionTitle:hover {
  text-decoration: none;
  color: rgba(7, 129, 254);
}
#projReview {
  text-align: left;
  font-size: 1rem;
  font-weight: 500;
  color: white;
}
.projStack {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  width: 100%;
  height: min-content;
  bottom: 0;

  /* border: 1px solid black; */
}

.projStackItem {
  background-color: black;
  padding: 1rem;
  margin-right: 1rem;
  border-radius: 15px;
  font-size: 1rem;
  width: max-content;
  display: inline-block;
}

.apprenticship {
  padding: 1rem;
  color: white;
  height: 15çrem;
}
.apprenticship h2 {
  font-size: 2rem;
  font-weight: 400;
}

.apprenticship p {
  font-size: 1rem;
  font-weight: 400;
  width: 50%;
}

.secondarySupportImgInventory2 {
  width: 45%;
  height: 100%;
  border-radius: 10px;
  background-image: url("../assets/inventory_support2.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.secondarySupportImgInventory1 {
  width: 45%;
  height: 100%;
  border-radius: 10px;
  background-image: url("../assets/inventory_support1.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.MainSupportImageInventory {
  width: 100%;
  height: 50%;
  /* border-radius: 10px; */
  margin-top: 0.5rem;
  background-image: url("../assets/inventory_main_supp.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.projMainImgInventory {
  width: 80%;
  border-radius: 10px;
  background-image: url("../assets/inventory_main.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.secondarySupportImg2LT {
  width: 45%;
  height: 100%;
  border-radius: 10px;
  background-image: url("../assets/LT_main_supp.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.secondarySupportImg1LT {
  width: 45%;
  height: 100%;
  border-radius: 10px;
  background-image: url("../assets/LT_support1.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.MainSupportImageLT {
  width: 100%;
  height: 50%;
  /* border-radius: 10px; */
  margin-top: 0.5rem;
  background-image: url("../assets/LT_support2.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.projMainImgLT {
  width: 80%;
  border-radius: 10px;
  background-image: url("../assets/LT_main.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.secondarySupportImg2LN {
  width: 45%;
  height: 100%;
  border-radius: 10px;
  background-image: url("../assets/LT_main_supp.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.secondarySupportImg1LN {
  width: 45%;
  height: 100%;
  border-radius: 10px;
  background-image: url("../assets/LN_support1.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.MainSupportImageLN {
  width: 100%;
  height: 50%;
  /* border-radius: 10px; */
  margin-top: 0.5rem;
  background-image: url("../assets/LN_main_supp.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.projMainImgLN {
  width: 80%;
  border-radius: 10px;
  background-image: url("../assets/LN_main.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
